@import 'variables';
@import 'functions';

*{ @include reset; }

body, html{ @include init; }

body{
	overflow: hidden;
	font-size: 100%;
	position: relative;
	@include perspective(500px);
	@include gradient(radial, (center, #aaa, #ddd));
}

@import 'field';
@import 'controlsCamera';
@import 'keyframes';
@import 'queries';