@import 'functions';

*{@include reset;}

:root{
	--ground-field: #087108;
	--linesColor: white;
}

body, html{@include init;}

body{
	overflow: hidden;
	font-size: 100%;
	position: relative;
	@include perspective(500px);
	@include gradient(radial, (center, #ffd180, #a1887f));
}

.field{
	width: 500px;
	height: 700px;
	background-color: var(--ground-field);
// 	background-image: url(../images/grass-field.jpg);
    background-size: 300px;
	border: solid 5px var(--linesColor);
	@include box-shadow(0 0 15px rgba(0,0,0,.7));
	@include center-absolute(absolute);
	@include transform(rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg));
	@include border-radius(2px);
	@include transition(transform .5s ease);
	@include transform-style(preserve-3d);
	
	&.viewer{
	    
	    &.front{
	        @include transform(rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg));
	    }
	    
	    &.back{
	        @include transform(rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg));
	        
	        .player{
	            @include transform(rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg));
	        }
	    }
	    
	    &.side_right{
	        @include transform(rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg));
	        
	        .team{
	            &.local{
	                .player{
        	            @include transform(rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg));
        	        }
	            }
	            
	            &.visitant{
	                .player{
        	            @include transform(rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg));
        	        }
	            }
	        }
	    }
	    
	    &.side_left{
	        @include transform(rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg));
	        
	        .team{
	            &.local{
	                .player{
        	            @include transform(rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg));
        	        }
	            }
	            
	            &.visitant{
	                .player{
        	            @include transform(rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg));
        	        }
	            }
	        }
	    }
        
	    .goalTop,
        .goalBottom{
            &:before{
                background: rgba(0,0,0,.1);
            }
            
            .crossbar{
                opacity: 1;
            }
        }
	    
	    .team{
	        
	        &.local{
        	    .player{
        	        background-color: rgba(255, 255, 255, .6);
        	    }
	        }
	        
	        &.visitant{
        	    .player{
        	        background-color: rgba(130,130,130,.6);
        	    }
	        }
	        
	        .player{
            	@include transform(rotatex(-90deg) translate3d(0,-50px, 0));
            	@include transform-origin(center);
            	
            	&:before{
    	            top: -65%;
            	}
    	    }
	    }
	}
	
    &:after,
    &:before{
    	content: '';
    	position: absolute;
    	margin: auto;
    }

    &:after{
    	width: 100%;
    	height: 5px;
    	top: 0;
    	bottom: 0;
    	background: var(--linesColor);
    }

    &:before{
    	width: 35%;
    	height: 25%;
    	background: #048804;
    	border-radius: 50%;
    	border: 5px solid var(--linesColor);
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    }

    .goalTop,
    .goalBottom{
        background: #048804;
    	position: absolute;
    	border: 5px solid var(--linesColor);
    	margin: auto;
    	width: 65%;
    	left: 0;
    	right: 0;
    	min-height: 150px;
    	@include transform-style(preserve-3d);
        
        &:before{
        	position: absolute;
        	content: '';
        	width: 50%;
        	height: 50%;
        	border: 4px solid var(--linesColor);
        	margin: auto;
        	left: 0;
        	right: 0;
        	@include transition(transform .3s ease);
        }
        
        &:after{
        	border-radius: 50%;
        	width: 5px;
        	height: 5px;
        	content: '';
        	background: var(--linesColor);
        	@include center-absolute(absolute);
        }
        
        .crossbar{
            position: absolute;
            margin: auto;
            opacity: 0;
            border-color: var(--linesColor) !important;
            @include transition(opacity .25s ease);
            
            &.back{
                width: 50%;
                height: 50%;
                left: 0;
                right: 0;
            }
            
            &.front{
                width: 50%;
                height: 50%;
                left: 0;
                right: 0;
            }
            
            &.bottom{
                width: 50%;
                height: 60px;
                left: 0;
                right: 0;
            }
            
            &.top{
                width: 50%;
                height: 65px;
                left: 0;
                right: 0;
            }
        }
        
        .half-moon{
            position: absolute;
            overflow: hidden;
            width: 45px;
            height: 30px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            overflow: hidden;
            
            &:after{
                position: absolute;
                width: 45px;
                height: 45px;
                border: solid 5px white;
                content: '';
                background: #048804;
                @include border-radius(50%);
                @include box-sizing(border-box);
            }
        }
    }
    
    .goalTop{
    	top: 0;
    	border-top: none;
        
        &:after{
        	top: 50%;
        }
        
        &:before{
        	top: 0;
        	border-top: none;
        }
        
        .crossbar{
            
            &.back{
                border: solid 5px;
                border-top: 0;
                @include transform-origin(top center);
                @include transform(rotatex(90deg) translate3d(0,0px,65px));
            }
            
            &.front{
                border: solid 5px;
                border-top: 0;
                @include transform-origin(top center);
                @include transform(rotatex(90deg) translate3d(0,0px,0px));
            }
            
            &.bottom{
                border: solid 5px;
                border-top: 0;
                @include transform-origin(top center);
                @include transform(rotatex(180deg) );
            }
            
            &.top{
                border: solid 5px;
                border-top: 0;
                border-bottom: 0;
                @include transform-origin(top center);
                @include transform(rotatex(180deg) translate3d(0,0,-78px));
            }
        }
        
        .half-moon{
            top: 103%;
            
            &:after{
                top: -100%;
            }
        }
    }
    
    .goalBottom{
    	bottom: 0;
    	border-bottom: none;
    	
        &:after{
    	    bottom: 50%;
        }
        
        &:before{
        	bottom: 0;
        	border-bottom: none;
        }
        
        .crossbar{
            bottom: 0;
            
            &.back{
                border: solid 5px;
                border-bottom: 0;
                @include transform-origin(bottom center);
                @include transform(rotatex(-90deg) translate3d(0,0px,65px));
            }
            
            &.front{
                border: solid 5px;
                border-bottom: 0;
                @include transform-origin(bottom center);
                @include transform(rotatex(-90deg) translate3d(0,0px,0px));
            }
            
            &.bottom{
                border: solid 5px;
                border-bottom: 0;
                @include transform-origin(bottom center);
                @include transform(rotatex(-180deg) );
            }
            
            &.top{
                border: solid 5px;
                border-top: 0;
                border-bottom: 0;
                @include transform-origin(bottom center);
                @include transform(rotatex(-180deg) translate3d(0,0,-78px));
            }
        }
        
        .half-moon{
            top: -23%;
            
            &:after{
                top: 45%;
            }
        }
    }
    
    .team{
        position: absolute;
        width: 100%;
        height: 50%;
        left: 0;
        
        &.local{
            top: 0;
            
            .player{
                background-image: url(../images/colombia.png);
            
                &.goalkeepper{
                	top: 1rem;
                	left: 0;
                	right: 0;
                }
            
                &.defense{
                	top: calc(3rem + 50px);
                	
                    &.central{
                    	left: 0;
                    	right: 0;
                    	
                    	&__left{
                    	    left: calc(-3rem - 60px);
                    	}
                    	
                    	&__right{
                    	    right: calc(-3rem - 60px);
                    	}
                    }
                    
                    &.lateral{
                    	top: calc(4rem + 50px);
                    	
                    	&__left{
                    	    left: 2rem;
                    	}
                    	
                    	&__right{
                    	    right: 2rem;
                    	}
                    }
                }
                
                &.flyers{
                	top: calc(8rem + 50px);
                	
                	&.central{
                    	left: 0;
                    	right: 0;
                    }
            
                    &.lateral{
                    	top: calc(9rem + 50px);
                        
                        &__left{
                        	left: 7rem;
                        }
            
                        &__right{
                        	right: 7rem;
                        }
                    }
                }
                
                &.forward{
                	top: calc(13rem + 50px);
                	
                    &.central{
                    	left: 0;
                    	right: 0;
                    	top: calc(15rem + 50px);
                    }
                    
                    &.lateral{
                    	top: calc(14rem + 50px);
                        
                        &__left{
                        	left: 5rem;
                        }
                        
                        &__right{
                        	right: 5rem;
                        }
                    }
                }
            }
        }
        
        &.visitant{
            bottom: 0;
            
            .player{
                background-image: url(../images/argentina.png);
                background-color: rgba(130,130,130,.3);
            
                &.goalkeepper{
                	bottom: 1rem;
                	left: 0;
                	right: 0;
                }
            
                &.defense{
                	bottom: calc(3rem + 50px);
                	
                    &.central{
                    	left: 0;
                    	right: 0;
                    	
                    	&__left{
                    	    left: calc(-3rem - 60px);
                    	}
                    	
                    	&__right{
                    	    right: calc(-3rem - 60px);
                    	}
                    }
                    
                    &.lateral{
                    	bottom: calc(4rem + 50px);
                    	
                    	&__left{
                    	    left: 2rem;
                    	}
                    	
                    	&__right{
                    	    right: 2rem;
                    	}
                    }
                }
                
                &.flyers{
                	bottom: calc(8rem + 50px);
                	
                	&.central{
                    	left: 0;
                    	right: 0;
                    }
            
                    &.lateral{
                    	bottom: calc(9rem + 50px);
                        
                        &__left{
                        	left: 7rem;
                        }
            
                        &__right{
                        	right: 7rem;
                        }
                    }
                }
                
                &.forward{
                	bottom: calc(13rem + 50px);
                	
                    &.central{
                    	left: 0;
                    	right: 0;
                    	top: calc(0rem - -7px);
                    }
                    
                    &.lateral{
                    	bottom: calc(14rem + 50px);
                        
                        &__left{
                        	left: 5rem;
                        }
                        
                        &__right{
                        	right: 5rem;
                        }
                    }
                }
            }
        }
        
        .player{
            position: absolute;
        	margin: auto;
        	border-radius: 50%;
        	width: 40px;
        	height: 40px;
        	z-index: 3;
        	background-color: rgba(255, 255, 255, 0.3);
        	background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        	@include transition((transform .2s ease, box-shadow .3s ease));
        	
        	&:before{
            	position: absolute;
            	content: attr(name);
            	background: rgba(0,0,0,.8);
            	color: var(--linesColor);
            	text-transform: capitalize;
            	top: 110%;
            	left: -50%;
            	text-align: center;
            	width: 180%;
            	display: block;
            	padding: .15rem .35rem;
            	opacity: 0;
            	font-size: 12px;
            	font-family: Helvetica;
            	@include transition((opacity .5s ease, transform .3s ease));
            	@include transform(translatey(80%));
            	@include border-radius(3px);
            }
            
            &:hover{
                &:before{
                	opacity: 1;
                	@include transform(translatey(0%));
                }
            }
            
            &.active{
                @include box-shadow(0 0 30px rgba(0,0,0,.4));
            }
        }
    }
    
}

.controlsCamera{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 180px;
	background: rgba(255,255,255,.1);
	@include border-radius(0 3px 3px 0);
	@include flex(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include transition((transform .2s ease, box-shadow .35s ease));
	@include transform-origin(left center);
	@include transform(translate3d(-90%, 0, 0));
	
	&:hover{
    	background: rgba(0,0,0,.2);
    	@include box-shadow(-2px 0 8px rgba(255,255,255,.5));
    	@include transform(translate3d(0%, 0, 0));
    	
    	+ .field{
        	@include transform(rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(.7));
        	
        	&.viewer{
        	    &.front{
        	        @include transform(rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(.85));
        	    }
        	    
        	    &.back{
        	        @include transform(rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(.85));
        	    }
        	    
        	    &.side_right{
        	        @include transform(rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(.85));
        	    }
        	    &.side_left{
        	        @include transform(rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(.85));
        	    }
        	}
    	}
    	
    	.control{
        	opacity: 1;
        	@include transform(translate3d(0, 0, 0));
    	}
	}
	
	.control{
    	cursor: pointer;
    	color: white;
    	text-align: left;
    	font-family: Helvetica;
    	display: block;
    	padding: .15rem .5rem;
    	opacity: 0;
    	@include transform(translate3d(-30px, 0, 0));
    	@include transition((opacity .2s ease, color .3s ease, transform .25s ease));
        
        &:nth-child(1){
        	@include transition-delay(0.2s);
        }
        &:nth-child(2){
        	@include transition-delay(0.3s);
        }
        &:nth-child(3){
        	@include transition-delay(0.4s);
        }
        &:nth-child(4){
        	@include transition-delay(0.5s);
        }
        &:nth-child(5){
        	@include transition-delay(0.6s);
        }

        &:hover{
        	color: #aaa;
        }
	}
}

@media (max-height: 670px){
	.field{
		@include transform(rotateX(0deg) translatez(-100px));
	}
}