// field
$ground-field: #087108;
$ground-field-second: #048804;
$width-field: 500px;
$height-field: 700px;
$linesColor: white;
$stroke-line: 5px;

// player
$width-player: 40px;
$height-player: 40px;

