*{
	border: 0;
	margin: 0;
	padding: 0;
}

:root{
	--ground-field: green;
	--linesColor: white;
}

body, html{
	height: 100%;
	width: 100%;
	display: block;
}

body{
	overflow: hidden;
	font-size: 100%;
	position: relative;
	perspective: 500px;
	background: darkgray;
}

.field{
	width: 500px;
	height: 700px;
	background-color: var(--ground-field);
	background-image: url(../images/grass-field.jpg);
  background-size: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: solid 5px var(--linesColor);
	transform: rotateX(0deg);
	transform-origin: bottom center;
	border-radius: 2px;
}

.field:after,
.field:before{
	content: '';
	position: absolute;
	margin: auto;
}

.field:after{
	width: 100%;
	height: 5px;
	top: 0;
	bottom: 0;
	background: var(--linesColor);
}

.field:before{
	width: 35%;
	height: 25%;
	border-radius: 50%;
	border: 5px solid var(--linesColor);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.goalTop,
.goalBottom{
	position: absolute;
	border: 5px solid var(--linesColor);
	margin: auto;
	width: 65%;
	left: 0;
	right: 0;
	min-height: 150px;
}

.goalTop{
	top: 0;
	border-top: none;
}

.goalBottom:before,
.goalTop:before{
	position: absolute;
	content: '';
	width: 50%;
	height: 50%;
	border: 4px solid var(--linesColor);
	margin: auto;
	left: 0;
	right: 0;
}

.goalBottom:after,
.goalTop:after{
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	content: '';
	background: var(--linesColor);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.goalBottom:after{
	bottom: 50%;
}

.goalTop:after{
	top: 50%;
}

.goalBottom:before{
	bottom: 0;
	border-bottom: none;
}

.goalTop:before{
	top: 0;
	border-top: none;
}

.goalBottom{
	bottom: 0;
	border-bottom: none;
}

.player{
	position: absolute;
	margin: auto;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.3);
}

.player:before{
	position: absolute;
	content: attr(name);
	background: rgba(0,0,0,.8);
	color: var(--linesColor);
	text-transform: capitalize;
	top: 110%;
	left: -50%;
	text-align: center;
	width: 180%;
	display: block;
	padding: .15rem .35rem;
	opacity: 0;
	font-size: 12px;
	font-family: Helvetica;
	transition: opacity .5s ease;
	border-radius: 3px;
}

.player:hover:before{
	opacity: 1;
}

.player.goalkeepper{
	top: 1rem;
	left: 0;
	right: 0;
}

.player.defense{
	top: calc(3rem + 50px);
}

.player.defense.central{
	left: 0;
	right: 0;
}

.player.lateral{
	top: calc(4rem + 50px);
}

.player.lateral__left{
	left: 2rem;
}

.player.lateral__right{
	right: 2rem;
}

.player.defense.central__left{
	left: calc(-3rem - 60px);
}

.player.defense.central__right{
	right: calc(-3rem - 60px);
}

.player.flyers{
	top: calc(8rem + 50px);
}

.player.flyers.central{
	left: 0;
	right: 0;
}

.player.flyers.lateral{
	top: calc(9rem + 50px);
}

.player.flyers.lateral__left{
	left: 7rem;
}

.player.flyers.lateral__right{
	right: 7rem;
}

@media (max-height: 670px){
	.field{
		transform: rotateX(0deg) translatez(-100px);
	}
}