* {
  border: 0;
  margin: 0;
  padding: 0; }

:root {
  --ground-field: #087108;
  --linesColor: white; }

body, html {
  width: 100%;
  height: 100%;
  display: block; }

body {
  overflow: hidden;
  font-size: 100%;
  position: relative;
  -webkit-perspective: 500px;
  -khtml-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  background-image: -webkit-radial-gradient(center, #ffd180, #a1887f);
  background-image: -khtml-radial-gradient(center, #ffd180, #a1887f);
  background-image: -moz-radial-gradient(center, #ffd180, #a1887f);
  background-image: -ms-radial-gradient(center, #ffd180, #a1887f);
  background-image: -o-radial-gradient(center, #ffd180, #a1887f);
  background-image: radial-gradient(center, #ffd180, #a1887f); }

.field {
  width: 500px;
  height: 700px;
  background-color: var(--ground-field);
  background-size: 300px;
  border: solid 5px var(--linesColor);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  -khtml-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  -khtml-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  -moz-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  -ms-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  -o-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: transform 0.5s ease;
  -khtml-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform-style: preserve-3d;
  -khtml-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .field.viewer.front {
    -webkit-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg);
    -khtml-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg);
    -moz-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg);
    -ms-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg);
    -o-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg);
    transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg); }
  .field.viewer.back {
    -webkit-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg);
    -khtml-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg);
    -moz-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg);
    -ms-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg);
    -o-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg);
    transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg); }
    .field.viewer.back .player {
      -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg);
      -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg);
      -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg);
      -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg);
      -o-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg);
      transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(180deg); }
  .field.viewer.side_right {
    -webkit-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
    -khtml-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
    -moz-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
    -ms-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
    -o-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
    transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg); }
    .field.viewer.side_right .team.local .player {
      -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg);
      -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg);
      -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg);
      -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg);
      -o-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg);
      transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(65deg); }
    .field.viewer.side_right .team.visitant .player {
      -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg);
      -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg);
      -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg);
      -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg);
      -o-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg);
      transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-255deg); }
  .field.viewer.side_left {
    -webkit-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
    -khtml-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
    -moz-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
    -ms-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
    -o-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
    transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg); }
    .field.viewer.side_left .team.local .player {
      -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg);
      -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg);
      -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg);
      -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg);
      -o-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg);
      transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(-65deg); }
    .field.viewer.side_left .team.visitant .player {
      -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg);
      -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg);
      -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg);
      -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg);
      -o-transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg);
      transform: rotatex(-90deg) translate3d(0, -50px, 0) rotateY(255deg); }
  .field.viewer .goalTop:before,
  .field.viewer .goalBottom:before {
    background: rgba(0, 0, 0, 0.1); }
  .field.viewer .goalTop .crossbar,
  .field.viewer .goalBottom .crossbar {
    opacity: 1; }
  .field.viewer .team.local .player {
    background-color: rgba(255, 255, 255, 0.6); }
  .field.viewer .team.visitant .player {
    background-color: rgba(130, 130, 130, 0.6); }
  .field.viewer .team .player {
    -webkit-transform: rotatex(-90deg) translate3d(0, -50px, 0);
    -khtml-transform: rotatex(-90deg) translate3d(0, -50px, 0);
    -moz-transform: rotatex(-90deg) translate3d(0, -50px, 0);
    -ms-transform: rotatex(-90deg) translate3d(0, -50px, 0);
    -o-transform: rotatex(-90deg) translate3d(0, -50px, 0);
    transform: rotatex(-90deg) translate3d(0, -50px, 0);
    -webkit-transform-origin: center;
    -khtml-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center; }
    .field.viewer .team .player:before {
      top: -65%; }
  .field:after, .field:before {
    content: '';
    position: absolute;
    margin: auto; }
  .field:after {
    width: 100%;
    height: 5px;
    top: 0;
    bottom: 0;
    background: var(--linesColor); }
  .field:before {
    width: 35%;
    height: 25%;
    background: #048804;
    border-radius: 50%;
    border: 5px solid var(--linesColor);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .field .goalTop,
  .field .goalBottom {
    background: #048804;
    position: absolute;
    border: 5px solid var(--linesColor);
    margin: auto;
    width: 65%;
    left: 0;
    right: 0;
    min-height: 150px;
    -webkit-transform-style: preserve-3d;
    -khtml-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .field .goalTop:before,
    .field .goalBottom:before {
      position: absolute;
      content: '';
      width: 50%;
      height: 50%;
      border: 4px solid var(--linesColor);
      margin: auto;
      left: 0;
      right: 0;
      -webkit-transition: transform 0.3s ease;
      -khtml-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }
    .field .goalTop:after,
    .field .goalBottom:after {
      border-radius: 50%;
      width: 5px;
      height: 5px;
      content: '';
      background: var(--linesColor);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    .field .goalTop .crossbar,
    .field .goalBottom .crossbar {
      position: absolute;
      margin: auto;
      opacity: 0;
      border-color: var(--linesColor) !important;
      -webkit-transition: opacity 0.25s ease;
      -khtml-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
      .field .goalTop .crossbar.back,
      .field .goalBottom .crossbar.back {
        width: 50%;
        height: 50%;
        left: 0;
        right: 0; }
      .field .goalTop .crossbar.front,
      .field .goalBottom .crossbar.front {
        width: 50%;
        height: 50%;
        left: 0;
        right: 0; }
      .field .goalTop .crossbar.bottom,
      .field .goalBottom .crossbar.bottom {
        width: 50%;
        height: 60px;
        left: 0;
        right: 0; }
      .field .goalTop .crossbar.top,
      .field .goalBottom .crossbar.top {
        width: 50%;
        height: 65px;
        left: 0;
        right: 0; }
  .field .goalTop {
    top: 0;
    border-top: none; }
    .field .goalTop:after {
      top: 50%; }
    .field .goalTop:before {
      top: 0;
      border-top: none; }
    .field .goalTop .crossbar.back {
      border: solid 5px;
      border-top: 0;
      -webkit-transform-origin: top center;
      -khtml-transform-origin: top center;
      -moz-transform-origin: top center;
      -ms-transform-origin: top center;
      -o-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotatex(90deg) translate3d(0, 0px, 65px);
      -khtml-transform: rotatex(90deg) translate3d(0, 0px, 65px);
      -moz-transform: rotatex(90deg) translate3d(0, 0px, 65px);
      -ms-transform: rotatex(90deg) translate3d(0, 0px, 65px);
      -o-transform: rotatex(90deg) translate3d(0, 0px, 65px);
      transform: rotatex(90deg) translate3d(0, 0px, 65px); }
    .field .goalTop .crossbar.front {
      border: solid 5px;
      border-top: 0;
      -webkit-transform-origin: top center;
      -khtml-transform-origin: top center;
      -moz-transform-origin: top center;
      -ms-transform-origin: top center;
      -o-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotatex(90deg) translate3d(0, 0px, 0px);
      -khtml-transform: rotatex(90deg) translate3d(0, 0px, 0px);
      -moz-transform: rotatex(90deg) translate3d(0, 0px, 0px);
      -ms-transform: rotatex(90deg) translate3d(0, 0px, 0px);
      -o-transform: rotatex(90deg) translate3d(0, 0px, 0px);
      transform: rotatex(90deg) translate3d(0, 0px, 0px); }
    .field .goalTop .crossbar.bottom {
      border: solid 5px;
      border-top: 0;
      -webkit-transform-origin: top center;
      -khtml-transform-origin: top center;
      -moz-transform-origin: top center;
      -ms-transform-origin: top center;
      -o-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotatex(180deg);
      -khtml-transform: rotatex(180deg);
      -moz-transform: rotatex(180deg);
      -ms-transform: rotatex(180deg);
      -o-transform: rotatex(180deg);
      transform: rotatex(180deg); }
    .field .goalTop .crossbar.top {
      border: solid 5px;
      border-top: 0;
      border-bottom: 0;
      -webkit-transform-origin: top center;
      -khtml-transform-origin: top center;
      -moz-transform-origin: top center;
      -ms-transform-origin: top center;
      -o-transform-origin: top center;
      transform-origin: top center;
      -webkit-transform: rotatex(180deg) translate3d(0, 0, -78px);
      -khtml-transform: rotatex(180deg) translate3d(0, 0, -78px);
      -moz-transform: rotatex(180deg) translate3d(0, 0, -78px);
      -ms-transform: rotatex(180deg) translate3d(0, 0, -78px);
      -o-transform: rotatex(180deg) translate3d(0, 0, -78px);
      transform: rotatex(180deg) translate3d(0, 0, -78px); }
  .field .goalBottom {
    bottom: 0;
    border-bottom: none; }
    .field .goalBottom:after {
      bottom: 50%; }
    .field .goalBottom:before {
      bottom: 0;
      border-bottom: none; }
    .field .goalBottom .crossbar {
      bottom: 0; }
      .field .goalBottom .crossbar.back {
        border: solid 5px;
        border-bottom: 0;
        -webkit-transform-origin: bottom center;
        -khtml-transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        -o-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: rotatex(-90deg) translate3d(0, 0px, 65px);
        -khtml-transform: rotatex(-90deg) translate3d(0, 0px, 65px);
        -moz-transform: rotatex(-90deg) translate3d(0, 0px, 65px);
        -ms-transform: rotatex(-90deg) translate3d(0, 0px, 65px);
        -o-transform: rotatex(-90deg) translate3d(0, 0px, 65px);
        transform: rotatex(-90deg) translate3d(0, 0px, 65px); }
      .field .goalBottom .crossbar.front {
        border: solid 5px;
        border-bottom: 0;
        -webkit-transform-origin: bottom center;
        -khtml-transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        -o-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: rotatex(-90deg) translate3d(0, 0px, 0px);
        -khtml-transform: rotatex(-90deg) translate3d(0, 0px, 0px);
        -moz-transform: rotatex(-90deg) translate3d(0, 0px, 0px);
        -ms-transform: rotatex(-90deg) translate3d(0, 0px, 0px);
        -o-transform: rotatex(-90deg) translate3d(0, 0px, 0px);
        transform: rotatex(-90deg) translate3d(0, 0px, 0px); }
      .field .goalBottom .crossbar.bottom {
        border: solid 5px;
        border-bottom: 0;
        -webkit-transform-origin: bottom center;
        -khtml-transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        -o-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: rotatex(-180deg);
        -khtml-transform: rotatex(-180deg);
        -moz-transform: rotatex(-180deg);
        -ms-transform: rotatex(-180deg);
        -o-transform: rotatex(-180deg);
        transform: rotatex(-180deg); }
      .field .goalBottom .crossbar.top {
        border: solid 5px;
        border-top: 0;
        border-bottom: 0;
        -webkit-transform-origin: bottom center;
        -khtml-transform-origin: bottom center;
        -moz-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        -o-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: rotatex(-180deg) translate3d(0, 0, -78px);
        -khtml-transform: rotatex(-180deg) translate3d(0, 0, -78px);
        -moz-transform: rotatex(-180deg) translate3d(0, 0, -78px);
        -ms-transform: rotatex(-180deg) translate3d(0, 0, -78px);
        -o-transform: rotatex(-180deg) translate3d(0, 0, -78px);
        transform: rotatex(-180deg) translate3d(0, 0, -78px); }
  .field .team {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0; }
    .field .team.local {
      top: 0; }
      .field .team.local .player {
        background-image: url(../images/colombia.png); }
        .field .team.local .player.goalkeepper {
          top: 1rem;
          left: 0;
          right: 0; }
        .field .team.local .player.defense {
          top: calc(3rem + 50px); }
          .field .team.local .player.defense.central {
            left: 0;
            right: 0; }
            .field .team.local .player.defense.central__left {
              left: calc(-3rem - 60px); }
            .field .team.local .player.defense.central__right {
              right: calc(-3rem - 60px); }
          .field .team.local .player.defense.lateral {
            top: calc(4rem + 50px); }
            .field .team.local .player.defense.lateral__left {
              left: 2rem; }
            .field .team.local .player.defense.lateral__right {
              right: 2rem; }
        .field .team.local .player.flyers {
          top: calc(8rem + 50px); }
          .field .team.local .player.flyers.central {
            left: 0;
            right: 0; }
          .field .team.local .player.flyers.lateral {
            top: calc(9rem + 50px); }
            .field .team.local .player.flyers.lateral__left {
              left: 7rem; }
            .field .team.local .player.flyers.lateral__right {
              right: 7rem; }
        .field .team.local .player.forward {
          top: calc(13rem + 50px); }
          .field .team.local .player.forward.central {
            left: 0;
            right: 0;
            top: calc(15rem + 50px); }
          .field .team.local .player.forward.lateral {
            top: calc(14rem + 50px); }
            .field .team.local .player.forward.lateral__left {
              left: 5rem; }
            .field .team.local .player.forward.lateral__right {
              right: 5rem; }
    .field .team.visitant {
      bottom: 0; }
      .field .team.visitant .player {
        background-image: url(../images/argentina.png);
        background-color: rgba(130, 130, 130, 0.3); }
        .field .team.visitant .player.goalkeepper {
          bottom: 1rem;
          left: 0;
          right: 0; }
        .field .team.visitant .player.defense {
          bottom: calc(3rem + 50px); }
          .field .team.visitant .player.defense.central {
            left: 0;
            right: 0; }
            .field .team.visitant .player.defense.central__left {
              left: calc(-3rem - 60px); }
            .field .team.visitant .player.defense.central__right {
              right: calc(-3rem - 60px); }
          .field .team.visitant .player.defense.lateral {
            bottom: calc(4rem + 50px); }
            .field .team.visitant .player.defense.lateral__left {
              left: 2rem; }
            .field .team.visitant .player.defense.lateral__right {
              right: 2rem; }
        .field .team.visitant .player.flyers {
          bottom: calc(8rem + 50px); }
          .field .team.visitant .player.flyers.central {
            left: 0;
            right: 0; }
          .field .team.visitant .player.flyers.lateral {
            bottom: calc(9rem + 50px); }
            .field .team.visitant .player.flyers.lateral__left {
              left: 7rem; }
            .field .team.visitant .player.flyers.lateral__right {
              right: 7rem; }
        .field .team.visitant .player.forward {
          bottom: calc(13rem + 50px); }
          .field .team.visitant .player.forward.central {
            left: 0;
            right: 0;
            top: calc(0rem - -7px); }
          .field .team.visitant .player.forward.lateral {
            bottom: calc(14rem + 50px); }
            .field .team.visitant .player.forward.lateral__left {
              left: 5rem; }
            .field .team.visitant .player.forward.lateral__right {
              right: 5rem; }
    .field .team .player {
      position: absolute;
      margin: auto;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      z-index: 3;
      background-color: rgba(255, 255, 255, 0.3);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: transform 0.2s ease, box-shadow 0.3s ease;
      -khtml-transition: transform 0.2s ease, box-shadow 0.3s ease;
      -moz-transition: transform 0.2s ease, box-shadow 0.3s ease;
      -ms-transition: transform 0.2s ease, box-shadow 0.3s ease;
      -o-transition: transform 0.2s ease, box-shadow 0.3s ease;
      transition: transform 0.2s ease, box-shadow 0.3s ease; }
      .field .team .player:before {
        position: absolute;
        content: attr(name);
        background: rgba(0, 0, 0, 0.8);
        color: var(--linesColor);
        text-transform: capitalize;
        top: 110%;
        left: -50%;
        text-align: center;
        width: 180%;
        display: block;
        padding: .15rem .35rem;
        opacity: 0;
        font-size: 12px;
        font-family: Helvetica;
        -webkit-transition: opacity 0.5s ease, transform 0.3s ease;
        -khtml-transition: opacity 0.5s ease, transform 0.3s ease;
        -moz-transition: opacity 0.5s ease, transform 0.3s ease;
        -ms-transition: opacity 0.5s ease, transform 0.3s ease;
        -o-transition: opacity 0.5s ease, transform 0.3s ease;
        transition: opacity 0.5s ease, transform 0.3s ease;
        -webkit-transform: translatey(80%);
        -khtml-transform: translatey(80%);
        -moz-transform: translatey(80%);
        -ms-transform: translatey(80%);
        -o-transform: translatey(80%);
        transform: translatey(80%);
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      .field .team .player:hover:before {
        opacity: 1;
        -webkit-transform: translatey(0%);
        -khtml-transform: translatey(0%);
        -moz-transform: translatey(0%);
        -ms-transform: translatey(0%);
        -o-transform: translatey(0%);
        transform: translatey(0%); }
      .field .team .player.active {
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -khtml-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); }

.controlsCamera {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 180px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0 3px 3px 0;
  -khtml-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-transition: transform 0.2s ease, box-shadow 0.35s ease;
  -khtml-transition: transform 0.2s ease, box-shadow 0.35s ease;
  -moz-transition: transform 0.2s ease, box-shadow 0.35s ease;
  -ms-transition: transform 0.2s ease, box-shadow 0.35s ease;
  -o-transition: transform 0.2s ease, box-shadow 0.35s ease;
  transition: transform 0.2s ease, box-shadow 0.35s ease;
  -webkit-transform-origin: left center;
  -khtml-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: translate3d(-90%, 0, 0);
  -khtml-transform: translate3d(-90%, 0, 0);
  -moz-transform: translate3d(-90%, 0, 0);
  -ms-transform: translate3d(-90%, 0, 0);
  -o-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0); }
  .controlsCamera:hover {
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    -khtml-box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    -o-box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    box-shadow: -2px 0 8px rgba(255, 255, 255, 0.5);
    -webkit-transform: translate3d(0%, 0, 0);
    -khtml-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }
    .controlsCamera:hover + .field {
      -webkit-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7);
      -khtml-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7);
      -moz-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7);
      -ms-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7);
      -o-transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7);
      transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(0.7); }
      .controlsCamera:hover + .field.viewer.front {
        -webkit-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85);
        -khtml-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85);
        -moz-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85);
        -ms-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85);
        -o-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85);
        transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(0deg) scale(0.85); }
      .controlsCamera:hover + .field.viewer.back {
        -webkit-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85);
        -khtml-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85);
        -moz-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85);
        -ms-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85);
        -o-transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85);
        transform: rotateX(50deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(0.85); }
      .controlsCamera:hover + .field.viewer.side_right {
        -webkit-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85);
        -khtml-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85);
        -moz-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85);
        -ms-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85);
        -o-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85);
        transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(0.85); }
      .controlsCamera:hover + .field.viewer.side_left {
        -webkit-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85);
        -khtml-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85);
        -moz-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85);
        -ms-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85);
        -o-transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85);
        transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(0.85); }
    .controlsCamera:hover .control {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .controlsCamera .control {
    cursor: pointer;
    color: white;
    text-align: left;
    font-family: Helvetica;
    display: block;
    padding: .15rem .5rem;
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    -khtml-transform: translate3d(-30px, 0, 0);
    -moz-transform: translate3d(-30px, 0, 0);
    -ms-transform: translate3d(-30px, 0, 0);
    -o-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease;
    -khtml-transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease;
    -moz-transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease;
    -ms-transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease;
    -o-transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease;
    transition: opacity 0.2s ease, color 0.3s ease, transform 0.25s ease; }
    .controlsCamera .control:nth-child(1) {
      -webkit-transition-delay: 0.2s;
      -khtml-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .controlsCamera .control:nth-child(2) {
      -webkit-transition-delay: 0.3s;
      -khtml-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -ms-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    .controlsCamera .control:nth-child(3) {
      -webkit-transition-delay: 0.4s;
      -khtml-transition-delay: 0.4s;
      -moz-transition-delay: 0.4s;
      -ms-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    .controlsCamera .control:nth-child(4) {
      -webkit-transition-delay: 0.5s;
      -khtml-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
    .controlsCamera .control:nth-child(5) {
      -webkit-transition-delay: 0.6s;
      -khtml-transition-delay: 0.6s;
      -moz-transition-delay: 0.6s;
      -ms-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      transition-delay: 0.6s; }
    .controlsCamera .control:hover {
      color: #aaa; }

@media (max-height: 670px) {
  .field {
    -webkit-transform: rotateX(0deg) translatez(-100px);
    -khtml-transform: rotateX(0deg) translatez(-100px);
    -moz-transform: rotateX(0deg) translatez(-100px);
    -ms-transform: rotateX(0deg) translatez(-100px);
    -o-transform: rotateX(0deg) translatez(-100px);
    transform: rotateX(0deg) translatez(-100px); } }

/*# sourceMappingURL=main.css.map */
