*{
	border: 0;
	margin: 0;
	padding: 0;
}

:root{
	--ground-field: green;
	--linesColor: white;
}

body, html{
	height: 100%;
	width: 100%;
	display: block;
}

body{
	overflow: hidden;
	font-size: 100%;
	position: relative;
	perspective: 500px;
	background-image: -webkit-radial-gradient(center, #323232, #000);
	background-image: -moz-radial-gradient(center, darkgray, gray);
	background-image: radial-gradient(center, darkgray, gray);
}

.field{
	width: 500px;
	height: 700px;
	background-color: var(--ground-field);
	background-image: url(../images/grass-field.jpg);
  background-size: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: solid 5px var(--linesColor);
	transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg);
	border-radius: 2px;
	transition: transform .5s ease;
	transform-style: preserve-3d;
}

.field.viewer.front{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(0deg);
}

.field.viewer.back{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-180deg);
}

.field.viewer.side_right{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg);
}

.field.viewer.side_left{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg);
}

.controlsCamera:hover + .field{
	transform: rotateX(0deg) translate3d(0, 0px, 0px) rotate(0deg) scale(.7);
}

.controlsCamera:hover + .field.viewer.front{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(0deg) scale(.85);
}

.controlsCamera:hover + .field.viewer.back{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-180deg) scale(.85);
}

.controlsCamera:hover + .field.viewer.side_right{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(90deg) scale(.85);
}

.controlsCamera:hover + .field.viewer.side_left{
	transform: rotateX(65deg) translate3d(0, -150px, -100px) rotate(-90deg) scale(.85);
}

.field.viewer .player{
	transform-origin: center;
	transform: rotatex(-90deg) translate3d(0,-50px, 0);
}

.field:after,
.field:before{
	content: '';
	position: absolute;
	margin: auto;
}

.field:after{
	width: 100%;
	height: 5px;
	top: 0;
	bottom: 0;
	background: var(--linesColor);
}

.field:before{
	width: 35%;
	height: 25%;
	border-radius: 50%;
	border: 5px solid var(--linesColor);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.goalTop,
.goalBottom{
	position: absolute;
	border: 5px solid var(--linesColor);
	margin: auto;
	width: 65%;
	left: 0;
	right: 0;
	min-height: 150px;
}

.goalTop{
	top: 0;
	border-top: none;
}

.goalBottom:before,
.goalTop:before{
	position: absolute;
	content: '';
	width: 50%;
	height: 50%;
	border: 4px solid var(--linesColor);
	margin: auto;
	left: 0;
	right: 0;
}

.goalBottom:after,
.goalTop:after{
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	content: '';
	background: var(--linesColor);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.goalBottom:after{
	bottom: 50%;
}

.goalTop:after{
	top: 50%;
}

.goalBottom:before{
	bottom: 0;
	border-bottom: none;
}

.goalTop:before{
	top: 0;
	border-top: none;
}

.goalBottom{
	bottom: 0;
	border-bottom: none;
}

.player{
	position: absolute;
	margin: auto;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	z-index: 3;
	background: rgba(255,255,255,.3);
}

.player:before{
	position: absolute;
	content: attr(name);
	background: rgba(0,0,0,.8);
	color: var(--linesColor);
	text-transform: capitalize;
	top: 110%;
	left: -50%;
	text-align: center;
	width: 180%;
	display: block;
	padding: .15rem .35rem;
	opacity: 0;
	font-size: 12px;
	font-family: Helvetica;
	transition: opacity .5s ease;
	border-radius: 3px;
}

.player:hover:before{
	opacity: 1;
}

.player.goalkeepper{
	top: 1rem;
	left: 0;
	right: 0;
}

.player.defense{
	top: calc(3rem + 50px);
}

.player.defense.central{
	left: 0;
	right: 0;
}

.player.lateral{
	top: calc(4rem + 50px);
}

.player.lateral__left{
	left: 2rem;
}

.player.lateral__right{
	right: 2rem;
}

.player.defense.central__left{
	left: calc(-3rem - 60px);
}

.player.defense.central__right{
	right: calc(-3rem - 60px);
}

.player.flyers{
	top: calc(8rem + 50px);
}

.player.flyers.central{
	left: 0;
	right: 0;
}

.player.flyers.lateral{
	top: calc(9rem + 50px);
}

.player.flyers.lateral__left{
	left: 7rem;
}

.player.flyers.lateral__right{
	right: 7rem;
}

.player.forward{
	top: calc(13rem + 50px);
}

.player.forward.central{
	left: 0;
	right: 0;
	top: calc(15rem + 50px);
}

.player.forward.lateral{
	top: calc(14rem + 50px);
}

.player.forward.lateral__left{
	left: 5rem;
}

.player.forward.lateral__right{
	right: 5rem;
}

.controlsCamera{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 180px;
	border-radius: 0 3px 3px 0;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	background: rgba(255,255,255,.1);
	transition: transform .2s ease, box-shadow .35s ease;
	transform-origin: left center;
	transform: translate3d(-90%, 0, 0);
}

.controlsCamera:hover{
	background: rgba(0,0,0,.2);
	box-shadow: -2px 0 8px rgba(255,255,255,.5);
	transform: translate3d(0%, 0, 0);
}

.controlsCamera:hover .control{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.controlsCamera .control{
	cursor: pointer;
	color: white;
	text-align: left;
	font-family: Helvetica;
	display: block;
	padding: .15rem .5rem;
	transition: opacity .2s ease, color .3s ease, transform .25s ease;
	opacity: 0;
	transform: translate3d(-30px, 0, 0);
}
.controlsCamera .control:nth-child(1){
	transition-delay: 0.2s;
}
.controlsCamera .control:nth-child(2){
	transition-delay: 0.3s;
}
.controlsCamera .control:nth-child(3){
	transition-delay: 0.4s;
}
.controlsCamera .control:nth-child(4){
	transition-delay: 0.5s;
}
.controlsCamera .control:nth-child(5){
	transition-delay: 0.6s;
}

.controlsCamera .control:hover{
	color: #aaa;
}

@media (max-height: 670px){
	.field{
		transform: rotateX(0deg) translatez(-100px);
	}
}